<%- include('../partials/header') %>
   <div>
          <% if (user) { %>
            <% console.log(user) %>
          <a href="/logout"
            ><span class="material-symbols-outlined" id="logout">vpn_key_off
              </span>Log Out</a>
          <% } else { %>
              <% console.log(user) %>
          <a href="/auth/google"
            ><span class="material-symbols-outlined" id="login"
              >vpn_key</span
            >Login with Google</a
          >
          <% } %>
        </div>


      <div class="row">
        <div id="drinkers" class="col s12">
          <% drinkers.forEach(function(drinker) { %>
          <div class="card blue-grey">
            <div class="card-content white-text">
              <div>
                <span class="card-title">
                  <span class="drinker-name"><%= drinker.name %></span>
                  <% if (drinker.cohort) { %><span class="badge white"
                    >SEI <%= drinker.cohort %></span
                  ><% } %>
                </span>
              </div>
              <ul class="collection">
                <% drinker.facts.forEach(function(fact) { %>
                <li class="collection-item blue-grey-text text-darken-2">
                  <%- fact.text %>
                </li>
                <% }) %>
              </ul>
              <!-- Add Dynamic UI form below this line -->
              <% if (drinker._id.equals(user && user._id)) { %>
              <div class="card-action">
                <form action="/facts" method="POST">
                  <input type="text" name="text" class="white-text" />
                  <button type="submit" class="btn white-text">Add Fact</button>
                </form>
              </div>
              <% } %>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
 <%- include('../partials/footer') %>
